body {
  padding-top: 5rem;
}
.profile-id-client-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.center {
  text-align: center;
}
.profile-id-search-box {
  padding-top: 3rem;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
}
.table {
  text-align: left;
  border: none;
}
.source-picker {
  min-width: 350px;
  margin-left: auto;
}
dt {
  text-align: right;
}
dd {
  text-align: left;
}
.search-result {
  margin-top: 5rem;
}
.form-group {
  margin: auto;
}
.expand-collapse {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.search-toggle {
  margin-top: 1rem;
}
.grey-text {
  color: grey;
}
.paging {
    color: black;
    float: left;
    padding: 10px 8px;
    text-decoration: none;
    border-radius: 5px;
}
.page-numbers {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
.table thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 10;
  border-bottom-width: 0px;
}
.table thead th:after{
  content:'';
  position:absolute;
  left: 0;
  bottom: 0;
  width:100%;
  border-bottom: 2px solid #dee2e6
}
.section-head {
  font-weight: bold;
  text-align: center;
}
.profile-details {
  background-color: #fbfbfb;
}
.float-right {
  float: right;
}
.page-size {
  max-width: 75px;
}
.toolbar {
  padding-bottom: 10px;
}
.block {
  display: inline-block;
  text-align: left;
}
.label {
  padding-right: 10px;
}

